<h1>New Reserved Address</h1>

<%= form_for(@reserved_address) do |f| %>
  <!-- Select the VLAN in which to create the new Reserved Address -->
  <%= f.label :"Create in VLAN:" %><%= f.collection_select :vlan_id, Vlan.all, :id, :vlan_name, prompt: true %><br />
  <%= f.label :"IP Address:" %><%= f.text_field :ip %><br />
  <%= f.label :"Description:" %><%= f.text_area :description, rows: 6 %><br />  
  <p>
    <%= f.label :"Click to create:" %><%= f.button :submit %>
  </p>
<% end %>

<%= link_to 'Back', vlans_path %>
