<div class="row">
  <%# https://github.com/bootstrap-ruby/will_paginate-bootstrap %>
  <div class="col-xs-8">
    <% if @results %>
      <%= page_entries_info @results %><br />
      <%= will_paginate @results, renderer: BootstrapPagination::Rails %>
    <% end %>
  </div>
  <div class="col-xs-4">
    <%= form_tag search_path, :method => :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Global Search", :name => nil %><br />
    <% end %>
  </div>
</div>

<% if false %>
  http://goo.gl/gfN306
  See also https://hackhands.com/pagination-rails-will_paginate-gem/
  Record index: @addresses.total_entries, @addresses.offset
<% end %>
<div class="row">
  <% if @results %>
    <% sorted = sort_results(@results) %>
    <% sorted.each do |key, value| %>
      <% count = value.length %>
      <% if count > 0 %>
        Found <%= count %> related records in
          <%= custom_pluralize(key.to_s, 2) %> on page
          <%= @results.current_page%><br />
        <%= render partial: key.to_s, object: value %>
      <% end %>
    <% end %>
  <% else %>
    <h4>Oooooops, nothing to search!</h4>
  <% end %>
</div>

<%# The footer pagination %>
<div class="row">
  <div class="col-xs-12">
    <% if @results %>
      <%= page_entries_info @results %><br />
      <%= will_paginate @results, renderer: BootstrapPagination::Rails %>
    <% end %>
  </div>
</div>
