<div class="row">
  <%# The header pagination:
   see https://github.com/bootstrap-ruby/will_paginate-bootstrap %>
  <div class="col-xs-8">
    <%= page_entries_info @results %><br />
    <%= will_paginate @results, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="col-xs-4">
    <%= form_tag search_index_path, :method => :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
</div>

<% if false %>
  See http://goo.gl/UAakLy
  See also https://hackhands.com/pagination-rails-will_paginate-gem/
  Record index: @addresses.total_entries, @addresses.offset
<% end %>
<div class="row">
<% if @results %>
<table class="table table-striped table-condensed">
  <tbody>
  <% count = @results.offset + 1 %>
  <% @sorted_results.keys.each do |m| %>
    <tr>
      <td><%= count %></td>
      <td><%= link_to m %></td>
      <td><%= @sorted_results[m].length %></td>
      <td><%= @sorted_results[m] %></td>
    </tr>
    <% count += 1 %>
  <% end %>
  </tbody>
</table>
<% else %>
  <h4>Oooooops, nothing found!</h4>
<% end %>
</div>

<%# The footer pagination %>
<div class="col-xs-8">
  <%= page_entries_info @results %><br />
  <%= will_paginate @results, renderer: BootstrapPagination::Rails %>
</div>
