<!-- Partial to list the VLANs in a table with index -->
<!-- Comment count, the hidden method _counter. -->
<!--
  See http://www.web-development-blog.co.uk/2009/02/18/57/
  When rendering a collection of partials in Rails you can access
  a sneaky iteration counter from inside each partial using the partial
  name appended with _counter, which starts from 0.
 -->
<!--
  As the render method iterates over the @lan.vlans collection,
  it assigns each vlan to a local variable named the same as the partial,
  in this case vlan which is then available in the partial for us to show.
-->
<tr>
  <td><%= vlan_counter + 1 %></td>
  <td><%= vlan.lan_id %></td>
  <!-- Call the helper method from the controller to retrieve the LAN name -->
  <!--  find_lan_name(vlan.lan_id) -->
  <td><%= Lan.find(vlan.lan_id).lan_name %></td>
  <td><%= vlan.vlan_number %></td>
  <td><%= vlan.vlan_name %></td>
  <td><%= vlan.static_ip_start %></td>
  <td><%= vlan.static_ip_end %></td>
  <td><%= vlan.subnet_mask %></td>
  <td><%= vlan.gateway %></td>
  <td><%= vlan.vlan_description %></td>  
  <td><%= link_to 'Show', vlan, lan_id: vlan.lan_id, class: 'btn btn-primary btn-xs' %></td>
  <td>
    <%= link_to edit_vlan_path(vlan), class: 'btn btn-info btn-xs' do %>
      <i class="glyphicon glyphicon-edit"></i> Edit
    <% end %>
  </td>
  <td>
    <%= link_to vlan, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
      <i class="glyphicon glyphicon-remove"></i> Destroy
    <% end %>
  </td>
</tr>

