<% provide(:title, "Edit VLAN") %>

<h3>Edit VLAN <b style="color:red"><%= @vlan.vlan_name %></b></h3>

<!-- %= form_for([@lan, @vlan]) do |f| % -->
<%= form_for(@vlan) do |f| %>
  <table>
  <tbody>
    <tr>
      <td><%= f.label :"Number:" %></td>
      <td><%= f.text_field :vlan_number %></td>
    </tr>
    <tr>
      <td><%= f.label :"Name:" %></td>
      <td><%= f.text_field :vlan_name %></td>
    </tr>
    <tr>
      <td><%= f.label :"Static IP Start:" %></td>
      <td><%= f.text_field :static_ip_start %></td>
    </tr>
    <tr>
      <td><%= f.label :"Static IP End:" %></td>
      <td><%= f.text_field :static_ip_end %></td>
    </tr>
    <tr>
      <td><%= f.label :"Mask:" %></td>
      <td><%= f.text_field :subnet_mask %></td>
    </tr>
    <tr>
      <td><%= f.label :"Gateway:" %></td>
      <td><%= f.text_field :gateway %></td>
    </tr>
    <tr>
      <td><%= f.label :"Description:" %></td>
      <td><%= f.text_area :vlan_description, rows: 6 %></td>
    </tr>
  </tbody>
  </table>
  <p>
    <%= f.label :"Click to update:" %><%= f.submit %>
  </p>
<% end %>

<div>
  <p><%= link_to 'Back to VLANs', vlans_path %> | <%= link_to 'Home', controller: "welcome" %></p>
</div>

