<% provide(:title, "VLANs") %>

<h3>Listing VLANs</h3>
<%= page_entries_info @vlans %><br />
<%= will_paginate @vlans, renderer: BootstrapPagination::Rails %>

<div>
  <% partial_name = "vlan" %>
  <% partial_name = "uneditable" unless policy(@vlans).edit? %>
  <%# cache cache_key_for_vlans(partial_name, @vlans.offset) do %>
  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th>No.</th>
      <th>LAN Name</th>
      <th>VLAN Number</th>
      <th>VLAN Name</th>
      <th>Static IP Start</th>
      <th>Static IP End</th>
      <th>Subnet Mask</th>
      <th>Gateway</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody id="main-table-body">
      <%= render partial:    partial_name,
                 collection: @vlans,
                 locals:     {count: @vlans.offset} %>
    </tbody>
  </table>
  <%# end %>

  <%= page_entries_info @vlans %><br />
  <%= will_paginate @vlans, renderer: BootstrapPagination::Rails %>

  <% if policy(:vlan).new? %>
    <%= link_to new_vlan_path, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus"></i> New VLAN
    <% end %>
    |
  <% end %>
  <%= link_to welcome_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-home"></i> Home
   <% end %>
   | <%= link_to lans_path, class: 'btn btn-success' do %>
       <i class="glyphicon glyphicon-arrow-right"></i> Go to LANs
     <% end %>
</div>
