<!-- Show a VLAN -->
<h3>Show VLAN <b style="color:red"><%= @vlan.vlan_name %></b> inside <%= @lan.lan_name %></h3>

<table>
  <tr>
    <td><b>Number</b></td>
    <td><%= @vlan.vlan_number %></td>
  </tr>
  <tr>
    <td><b>Name</b></td>
    <td><%= @vlan.vlan_name %></td>
  </tr>
  <tr>
    <td><b>Static IP Start</b></td>
    <td><%= @vlan.static_ip_start %></td>
  </tr>
  <tr>
    <td><b>Static IP End</b></td>
    <td><%= @vlan.static_ip_end %></td>
  </tr>
  <tr>
    <td><b>Subnet Mask</b></td>
    <td><%= @vlan.subnet_mask %></td>
  </tr>
  <tr>
    <td><b>Gateway</b></td>
    <td><%= @vlan.gateway %></td>
  </tr>
  <tr>
    <td><b>Description</b></td>
    <td><%= @vlan.vlan_description %></td>
  </tr>  
</table>

<div>
  <p><%= link_to 'Back to LAN', lan_path(@lan) %> | <%= link_to 'Home', controller: "welcome" %></p>
</div>
