<!-- Show a VLAN info -->
<h3>VLAN <b style="color:red"><%= @vlan.vlan_name %></b></h3>

<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>lan_id</th>
    <th>id</th>
    <th>Number</th>
    <th>Name</th>
    <th>Static IP Start</th>
    <th>Static IP End</th>
    <th>Subnet Mask</th>
    <th>Gateway</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @vlan.lan_id %></td>
    <td><%= @vlan.id %></td>
    <td><%= @vlan.vlan_number %></td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= @vlan.id %>" data-model="vlan" data-name="vlan_name" data-url="<%= vlan_path(@vlan) %>" data-title="VLAN Name"><%= @vlan.vlan_name %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= @vlan.id %>" data-model="vlan" data-name="static_ip_start" data-url="<%= vlan_path(@vlan) %>" data-title="Static IP Start"><%= @vlan.static_ip_start %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= @vlan.id %>" data-model="vlan" data-name="static_ip_end" data-url="<%= vlan_path(@vlan) %>" data-title="Static IP End"><%= @vlan.static_ip_end %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= @vlan.id %>" data-model="vlan" data-name="subnet_mask" data-url="<%= vlan_path(@vlan) %>" data-title="Subnet Mask"><%= @vlan.subnet_mask %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= @vlan.id %>" data-model="vlan" data-name="gateway" data-url="<%= vlan_path(@vlan) %>" data-title="Gateway"><%= @vlan.gateway %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= @vlan.id %>" data-model="vlan" data-name="vlan_description" data-url="<%= vlan_path(@vlan) %>" data-title="Description"><%= @vlan.vlan_description %></a>
    </td>
  </tr>
  </tbody>
</table>

<!-- Show the IP address list of this VLAN -->
<!-- Tale addresses PK...FK: vlan_id, user_id...department_id -->
<div>
  <h4>Listing IP Addresses of VLAN <%= @vlan.vlan_name %>:</h4>
  <table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>NO.</th>
      <th>IP Address</th>
      <th>MAC Address</th>
      <th>Usage</th>
      <th>User Name</th>
      <th>Dept Name</th>
      <th>Office Phone</th>
      <th>Cell Phone</th>
      <th>Building</th>
      <th>Locaiton</th>
      <th>Storey</th>
      <th>Room</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Application Form</th>
    </tr>
  </thead>
  <tbody>
  <% count = 0 %>
  <!-- TODO: Needs to implement a customized order algorith -->
  <!-- % @vlan.addresses.order(:ip).each do |addr| % -->
  <% @vlan.addresses.each do |addr| %>
    <% count += 1 %>
    <!-- @user & @department come from vlans_helper.rb -->
    <% find_user(addr.user_id) %>
    <tr>
      <td><%= count %></td>
      <td><%= addr.ip %></td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= addr.id %>" data-model="address" data-name="mac_address" data-url="<%= address_path(addr) %>" data-title="MAC Address"><%= addr.mac_address %></a>
     </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= addr.id %>" data-model="address" data-name="usage" data-url="<%= address_path(addr) %>" data-title="Usage"><%= addr.usage %></a>
      </td>
      <!-- Has to update FK user_id if @user.name changes. Should be submitted to AddressesController. -->
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= addr.user_id %>" data-model="address" data-name="user_id" data-url="<%= address_path(addr) %>" data-title="User Name"><%= @user.name %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= @user.id %>" data-model="user" data-name="department_id" data-url="<%= user_path(@user) %>" data-title="Dept Name"><%= @department.dept_name %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= addr.user_id %>" data-model="user" data-name="office_phone" data-url="<%= user_path(@user) %>" data-title="Office Phone"><%= @user.office_phone %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= addr.user_id %>" data-model="user" data-name="cell_phone" data-url="<%= user_path(@user) %>" data-title="Cell Phone"><%= @user.cell_phone %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= addr.user_id %>" data-model="user" data-name="building" data-url="<%= user_path(@user) %>" data-title="Building"><%= @user.building %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= @user.department_id %>" data-model="department" data-name="location" data-url="<%= department_path(@department) %>" data-title="Location"><%= @department.location %></a>
</td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= addr.user_id %>" data-model="user" data-name="storey" data-url="<%= user_path(@user) %>" data-title="Storey"><%= @user.storey %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= addr.user_id %>" data-model="user" data-name="room" data-url="<%= user_path(@user) %>" data-title="Room Number"><%= @user.room %></a>
      </td>
      <td><%= addr.start_date %></td>
      <td><%= addr.end_date %></td>
      <td><%= addr.application_form %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>

<!-- Reserved address list -->
<div>
  <h4>Reserved Address List</h4> 
  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th>vlan_id</th>
      <th>id</th>
      <th>IP Adress</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @vlan.reserved_addresses.each do |ra| %>
    <tr>
      <td><%= ra.vlan_id %></td>
      <td><%= ra.id %></td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= ra.id %>" data-model="reserved_address" data-name="ip" data-url="<%= reserved_address_url(ra) %>" data-title="Reserved Address"><%= ra.ip %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= ra.id %>" data-model="reserved_address" data-name="description" data-url="<%= reserved_address_url(ra) %>" data-title="Description"><%= ra.description %></a>
	  </td>
      <th><%= link_to 'Show', reserved_address_path(ra), class: 'btn btn-primary btn-xs' %></th>
      <td>
        <%= link_to edit_reserved_address_path(ra), class: 'btn btn-info btn-xs' do%>
          <i class="glyphicon glyphicon-edit"></i>Edit
        <% end %>
      </td>
      <td>
        <%= link_to reserved_address_path(ra), method: :delete, data:{ confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs' do%>
          <i class="glyphicon glyphicon-remove"></i>Destroy
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <p>
    <%= link_to new_reserved_address_path, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus"></i> New Reserved Address
    <% end %>
  </p>
</div>

<div>
  <%= link_to welcome_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-home"></i> Home 
  <% end %>
  | <%= link_to vlans_path, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-arrow-left"></i> Back to VLANs 
    <% end %>
</div>
