<!-- Show a VLAN -->
<h3>VLAN <b style="color:red"><%= @vlan.vlan_name %></b></h3>

<table>
  <tbody>
  <tr>
    <td><b>Number</b></td>
    <td><%= @vlan.vlan_number %></td>
  </tr>
  <tr>
    <td><b>Name</b></td>
    <td><%= @vlan.vlan_name %></td>
  </tr>
  <tr>
    <td><b>Static IP Start</b></td>
    <td><%= @vlan.static_ip_start %></td>
  </tr>
  <tr>
    <td><b>Static IP End</b></td>
    <td><%= @vlan.static_ip_end %></td>
  </tr>
  <tr>
    <td><b>Subnet Mask</b></td>
    <td><%= @vlan.subnet_mask %></td>
  </tr>
  <tr>
    <td><b>Gateway</b></td>
    <td><%= @vlan.gateway %></td>
  </tr>
  <tr>
    <td><b>Description</b></td>
    <td><%= @vlan.vlan_description %></td>
  </tr>
  </tbody>
</table>

<!-- Reserved addresses list -->
<div>
  <p>Reserved addresses list</p> 
  <table>
    <thead>
    <tr>
      <th>IP Adress</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
  <% @vlan.reserved_addresses.each do |ra| %>
    <tbody>
    <tr>
      <td><%= ra.ip %></td>
      <td><%= ra.description %></td>
      <td>Show</td>
      <td>Edit</td>
      <td>Destroy</td>
    </tr>
    </tbody>
  <% end %>
  </table>
</div>

<!-- Show the IP address list of this VLAN -->
<div>
  <p>IP Addresses of VLAN <%= @vlan.vlan_name %>:</p>
</div>

<div>
  <p><%= link_to 'Back to VLANs', vlans_path %> | <%= link_to 'Home', controller: "welcome" %></p>
</div>
