<!-- http://stackoverflow.com/questions/4566620/getting-the-current-item-number-or-index-when-using-will-paginate-in-rails-app -->
<% users = editable %>
<% count = users.offset %>

<% users.each do |user| %>
<% find_address(user.id) %>
  <tr>
    <td><%= count += 1 %></td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="name" data-url="<%= user_path(user) %>" data-title="User Name"><%= user.name %></a>
    </td>
    <td>
      <% if user.name != "NOBODY" %>
        <% if user.addresses.count >= 2 %>

          <div class="folding_margin">
            <!-- Toogle Buttons -->
            <button type="button" class="btn btn-xs" data-toggle="collapse" data-target="#tx_<%= user.id%>"><%= uas = user.addresses.first.ip %></button>
            <div id="tx_<%= user.id%>" class="collapse">
              <% ubs = user.addresses %><%ubs.each do |addr| %><%= addr.ip %><br /><% end %>
            </div>
          </div>
        <%elsif  ucs = user.addresses %><%ucs.each do |addr| %><%= addr.ip %><br /><% end %>
        <% end %>
      <% end %>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="office_phone" data-url="<%= user_path(user) %>" data-title="Office Phone"><%= user.office_phone %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="cell_phone" data-url="<%= user_path(user) %>" data-title="Mobile"><%= user.cell_phone %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="email" data-url="<%= user_path(user) %>" data-title="Email"><%= user.email %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="building" data-url="<%= user_path(user) %>" data-title="Building"><%= user.building %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="storey" data-url="<%= user_path(user) %>" data-title="Mobile"><%= user.storey %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="room" data-url="<%= user_path(user) %>" data-title="Room"><%= user.room %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="department_id" data-url="<%= user_path(user) %>" data-title="Department"><%= find_department_name(user.department_id) %></a>
    </td>

    <td>
      <a href="#" data-xeditable="true" data-pk="<%= @address.id %>" data-model="address" data-name="start_date" data-url="<%= address_path(@address) %>" data-title="Start Date"><%= @address.start_date %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= @address.id %>" data-model="address" data-name="end_date" data-url="<%= address_path(@address) %>" data-title="End Date"><%= @address.end_date %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= @address.id %>" data-model="address" data-name="assigner" data-url="<%= address_path(@address) %>" data-title="Assigner"><%= @address.assigner %></a>
    </td>

    <td><%= link_to 'Show', user, class: 'btn btn-primary btn-xs' %></td>
    <!-- Editing link disabled since in-line editing supported
       link_to edit_user_path(user), class: 'btn btn-info btn-xs' do
         class="glyphicon glyphicon-edit" Edit
       end
    -->
    <% if policy(user).destroy? %>
    <td>
      <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
        <i class="glyphicon glyphicon-remove"></i> Destroy
      <% end %>
    </td>
    <% end %>
  </tr>
  <% user = nil %>
<% end %>
