<%# A user with 1 or 0 IP address %>
<% user = row_with_one_ip %>
<% department = DepartmentsHelper.find_department(user.department_id) %>

<tr id="row-<%= count %>">
  <%# cache([user, addresses, @department]) do %><%# partial row caching %>
  <td><%= count %></td>
  <td>
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= user.id %>"
                data-model="user" data-name="name"
                data-url="<%= user_path(user) %>"
                data-title="User Name">
       <%= user.name %>
    </a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= user.id %>"
                data-model="user" data-name="title"
                data-url="<%= user_path(user) %>"
                data-title="Title">
       <%= user.title %>
     </a>
  </td>

  <% if addresses.count == 0 %>
    <td colspan="7"></td>
  <% else %>
    <% addresses.each do |addr| %>
      <td><%= addr.ip %></td>
      <td>
        <a href="#" data-xeditable="<%= editable %>"
                    data-pk="<%= addr.id %>"
                    data-model="address"
                    data-name="mac_address"
                    data-url="<%= address_path(addr) %>"
                    data-title="MAC Address">
           <%= addr.mac_address %>
        </a>
      </td>
      <td>
        <a href="#" data-xeditable="<%= editable %>"
                    data-pk="<%= addr.id %>"
                    data-model="address"
                    data-name="start_date"
                    data-url="<%= address_path(addr) %>"
                    data-title="Start Date">
          <%= addr.start_date %>
        </a>
      </td>
      <td>
        <a href="#" data-xeditable="<%= editable %>"
                    data-pk="<%= addr.id %>"
                    data-model="address"
                    data-name="end_date"
                    data-url="<%= address_path(addr) %>"
                    data-title="End Date">
          <%= addr.end_date %>
        </a>
      </td>
      <td>
        <a href="#" data-xeditable="<%= editable %>"
                    data-pk="<%= addr.id %>"
                    data-model="address"
                    data-name="assigner"
                    data-url="<%= address_path(addr) %>"
                    data-title="Assigner">
          <%= addr.assigner %>
        </a>
      </td>
      <td id="recyclable">
        <a href="#" data-xeditable="true"
                    data-pk="<%= addr.id %>"
                    data-model="address"
                    data-name="recyclable"
                    data-url="<%= address_path(addr) %>"
                    data-title="Select options"
                    data-type="checklist"
                    data-value="<%= addr.recyclable ? 1 :0 %>">
          <%= addr.recyclable %>
        </a>
      </td>
      <td id="recycle">
        <% if policy(addr).recycle? %>
          <%= button_to histories_path(address_id: addr.id),
                        remote: true,
                        disabled: !addr.recyclable,
                        method: :post,
                        id: :btn_recycle,
                        class: 'btn btn-success btn-xs',
                        data: {confirm: "Are you sure?"} do %>
            <i class="fa fa-recycle"></i> Recycle
          <% end %>
        <% end %> 
      </td>
    <% end %>
  <% end %>

  <td>
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= user.id %>"
                data-model="user"
                data-name="office_phone"
                data-url="<%= user_path(user) %>"
                data-title="Office Phone">
      <%= user.office_phone %>
    </a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= user.id %>"
                data-model="user"
                data-name="cell_phone"
                data-url="<%= user_path(user) %>"
                data-title="Mobile">
      <%= user.cell_phone %>
    </a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= user.id %>"
                data-model="user"
                data-name="email"
                data-url="<%= user_path(user) %>"
                data-title="Email">
      <%= user.email %>
    </a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= user.id %>"
                data-model="user"
                data-name="building"
                data-url="<%= user_path(user) %>"
                data-title="Building">
      <%= user.building %>
    </a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= user.id %>"
                data-model="user"
                data-name="storey"
                data-url="<%= user_path(user) %>"
                data-title="Mobile">
      <%= user.storey %>
    </a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= user.id %>"
                data-model="user"
                data-name="room"
                data-url="<%= user_path(user) %>"
                data-title="Room">
      <%= user.room %>
    </a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= user.id %>"
                data-model="user"
                data-name="department_id"
                data-url="<%= user_path(user) %>"
                data-title="Department">
      <%= department.dept_name %>
    </a>
  </td>
  <td>
   <%= link_to 'Show', user, class: 'btn btn-primary btn-xs' %>
  </td>
  <%# end %><%# partial row cache %>

  <% if policy(user).destroy? %>
    <td>
      <%= link_to user, method: :delete,
                  data: {confirm: 'Are you sure?'},
                  class: 'btn btn-danger btn-xs' do %>
        <i class="glyphicon glyphicon-remove"></i> Destroy
      <% end %>
    </td>
  <% else %>
    <td></td>
  <% end %>
</tr>
