<!--
  http://stackoverflow.com/questions/22688021/twitter-bootstrap-display-rest-of-a-table-rows-using-collapse-js
  http://www.bootply.com/122871
-->
<% user = row_with_multiple_ip %>
<tr>
  <td><%= count %></td>
  <td>
    <a href="#" data-xeditable="<%= editable %>" data-pk="<%= user.id %>" data-model="user" data-name="name" data-url="<%= user_path(user) %>" data-title="User Name"><%= user.name %></a>
  </td>
  <td colspan="5" data-toggle="collapse" data-target=".<%= user.id.to_s %>" class="text-info">
    <i class="glyphicon glyphicon-plus"><%= user_ip_count %>&nbsp;IP Addresses</i>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>" data-pk="<%= user.id %>" data-model="user" data-name="office_phone" data-url="<%= user_path(user) %>" data-title="Office Phone"><%= user.office_phone %></a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>" data-pk="<%= user.id %>" data-model="user" data-name="cell_phone" data-url="<%= user_path(user) %>" data-title="Mobile"><%= user.cell_phone %></a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>" data-pk="<%= user.id %>" data-model="user" data-name="email" data-url="<%= user_path(user) %>" data-title="Email"><%= user.email %></a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>" data-pk="<%= user.id %>" data-model="user" data-name="building" data-url="<%= user_path(user) %>" data-title="Building"><%= user.building %></a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>" data-pk="<%= user.id %>" data-model="user" data-name="storey" data-url="<%= user_path(user) %>" data-title="Mobile"><%= user.storey %></a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>" data-pk="<%= user.id %>" data-model="user" data-name="room" data-url="<%= user_path(user) %>" data-title="Room"><%= user.room %></a>
  </td>
  <td>
    <a href="#" data-xeditable="<%= editable %>" data-pk="<%= user.id %>" data-model="user" data-name="department_id" data-url="<%= user_path(user) %>" data-title="Department"><%= find_department_name(user.department_id) %></a>
  </td>

  <td>
   <%= link_to 'Show', user, class: 'btn btn-primary btn-xs' %>
  </td>
  <% if policy(user).destroy? %>
    <td>
      <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
        <i class="glyphicon glyphicon-remove"></i> Destroy
      <% end %>
    </td>
  <% else %>
    <td></td>
  <% end %>
</tr>
