<% if false %>
  Rows containing the user's IP addresses
  Twitter Bootstrap displays rest of a table rows using collapse.js
  http://goo.gl/PaQ2QY
  http://www.bootply.com/122871
<% end %>

<% addr = subrow %>
<% str = user.id.to_s %>

<%# cache([user, addr]) do %>
<tr id="row-<%= count %>-<%= index %>" class="collapse <%= str %>">
  <td colspan="3"></td>
  <td><%= addr.ip %></td>
  <td><%= AddressesHelper.find_vlan_number(addr) %></td>
  <td >
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= addr.id %>"
                data-model="address"
                data-name="mac_address"
                data-url="<%= address_path(addr) %>"
                data-title="MAC Address">
      <%= addr.mac_address %>
    </a>
  </td>
  <td >
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= addr.id %>"
                data-model="address"
                data-name="start_date"
                data-url="<%= address_path(addr) %>"
                data-title="Start Date">
      <%= addr.start_date %>
    </a>
  </td>
  <td >
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= addr.id %>"
                data-model="address"
                data-name="end_date"
                data-url="<%= address_path(addr) %>"
                data-title="End Date">
      <%= addr.end_date %>
    </a>
  </td>
  <td >
    <a href="#" data-xeditable="<%= editable %>"
                data-pk="<%= addr.id %>"
                data-model="address"
                data-name="assigner"
                data-url="<%= address_path(addr) %>"
                data-title="Assigner">
      <%= addr.assigner %>
    </a>
  </td>
  <td id="recyclable">
    <a href="#" data-xeditable="true"
                data-pk="<%= addr.id %>"
                data-model="address"
                data-name="recyclable"
                data-url="<%= address_path(addr) %>"
                data-title="Select options"
                data-type="checklist"
                data-value="<%= addr.recyclable ? 1 :0 %>">
      <%= addr.recyclable %>
    </a>
  </td>
  <td id="recycle">
    <%#= render partial: "addresses/recycle", object: addr %>
    <% if policy(addr).recycle? %>
      <%= button_to histories_path(address_id: addr.id),
                    remote: true,
                    disabled: !addr.recyclable,
                    method: :post,
                    id: :btn_recycle,
                    class: 'btn btn-success btn-xs',
                    data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-recycle"></i> Recycle
      <% end %>
    <% end %> 
  </td>
  <td colspan="7"></td>
</tr>
