<tr>
  <td><%= user.name %></td>
  <td><%= user.office_phone %></td>
  <td><%= user.cell_phone %></td>
  <td><%= user.email %></td>
  <td><%= user.building %></td>
  <td><%= user.storey %></td>
  <td><%= user.room %></td>
  <td><%= user.department_id %></td>
  <td><!-- %= link_to 'Show', user_path % -->Show</td>
  <td><!-- link_to 'Edit', edit_user_path(user) -->Edit</td>
  <td><!-- link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } -->Destroy</td>
</tr>

