<!-- Pagination: see https://github.com/bootstrap-ruby/will_paginate-bootstrap -->
<%= page_entries_info @users %><br />
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<!-- Index display: http://stackoverflow.com/questions/4566620/getting-the-current-item-number-or-index-when-using-will-paginate-in-rails-app -->
<% count = @users.offset %>

<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>NO.</th>
    <th>Name</th>
    <th>IP Address</th>
    <th>Office phone</th>
    <th>Cell phone</th>
    <th>Email</th>
    <th>Building</th>
    <th>Storey</th>
    <th>Room</th>
    <th>Department</th>
    <th></th>
    <th></th>
  </tr>
  </thead>


  <tbody>
  <% @users.each do |user_obj| %>
    <% user = user_obj.clone %><!-- To be nullified to free mem -->
    <% count += 1 %>
    <tr>
      <td><%= count %></td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="name" data-url="<%= user_path(user) %>" data-title="User Name"><%= user.name %></a>
      </td>
      <td>
        <% if user.name != "NOBODY" %>
          <% if user.addresses.count >= 2 %>

          <div class="folding_margin">
          <!-- Toogle Buttons -->
            <button type="button" class="btn btn-warning" 
  data-toggle="collapse" data-target="#toggle-example"><%= uas = user.addresses.first.ip %></button>
 
              <div id="toggle-example" class="collapse">
                <% ubs = user.addresses %><%ubs.each do |addr| %><%= addr.ip %><br /><% end %>
              </div>
          </div>
          <%elsif  ucs = user.addresses %><%ucs.each do |addr| %><%= addr.ip %><br /><% end %>
          <% end %>
        <% end %>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="office_phone" data-url="<%= user_path(user) %>" data-title="Office Phone"><%= user.office_phone %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="cell_phone" data-url="<%= user_path(user) %>" data-title="Mobile"><%= user.cell_phone %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="email" data-url="<%= user_path(user) %>" data-title="Email"><%= user.email %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="building" data-url="<%= user_path(user) %>" data-title="Building"><%= user.building %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="storey" data-url="<%= user_path(user) %>" data-title="Mobile"><%= user.storey %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="room" data-url="<%= user_path(user) %>" data-title="Room"><%= user.room %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= user.id %>" data-model="user" data-name="department_id" data-url="<%= user_path(user) %>" data-title="Department"><%= find_department_name(user.department_id) %></a>
      </td>
      <td><%= link_to 'Show', user, class: 'btn btn-primary btn-xs' %></td>
      <!-- Editing link disabled since in-line editing supported
         link_to edit_user_path(user), class: 'btn btn-info btn-xs' do
           class="glyphicon glyphicon-edit" Edit
         end
      -->
      <td>
        <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
          <i class="glyphicon glyphicon-remove"></i> Destroy
        <% end %>
      </td>
    </tr>
    <% user = nil %>
  <% end %>
  </tbody>
</table>

<%= page_entries_info @users %><br />
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
