<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Office phone:</strong>
  <%= @user.office_phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @user.cell_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Building:</strong>
  <%= @user.building %>
</p>

<p>
  <strong>Storey:</strong>
  <%= @user.storey %>
</p>

<p>
  <strong>Room:</strong>
  <%= @user.room %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department %>
</p>

<p>
  <%= link_to edit_user_path(@user), class: 'btn btn-info' do %>
    <i class="glyphicon glyphicon-pencil"></i> Edit
  <% end %>
    | <%= link_to 'Back', users_path, class: 'btn btn-primary' %>
</p>
