<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Home", welcome_path, class: 'navbar-brand' %>
      <%= link_to "LANs", lans_path, class: 'navbar-brand' %>
      <%= link_to "VLANs", vlans_path, class: 'navbar-brand' %>
      <%= link_to "Addresses", addresses_path, class: 'navbar-brand' %>
      <%= link_to "Departments", departments_path, class: 'navbar-brand' %>
      <%= link_to "Users", users_path, class: 'navbar-brand' %>
      <%= link_to "Import/Export", import_export_import_path, class: 'navbar-brand' %>
      <a class="navbar-brand" href="/search/index.html">Search</a>
      <a class="navbar-brand" href="/help/index.html">Help</a>
    </div>
  </div>
</nav>

