<% counter = 1 %>
<% departments.each do |department| %>
  <tr>
    <td><%= counter %></td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= department.id %>" data-model="department" data-name="dept_name" data-url="<%= department_path(department) %>" data-title="Dept Name"><%= department.dept_name %></a>
    </td>
    <td>
      <a href="#" data-xeditable="true" data-pk="<%= department.id %>" data-model="department" data-name="location" data-url="<%= department_path(department) %>" data-title="Location"><%= department.location %></a>
    </td>
    <td><%= link_to 'Show', department, class: 'btn btn-primary btn-xs' %></td>
    <td>
      <%= link_to edit_department_path(department), class: 'btn btn-info btn-xs' do %>
        <i class="glyphicon glyphicon-edit"></i> Edit
      <% end %>
    </td>
    <td>
      <%= link_to department, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
        <i class="glyphicon glyphicon-remove"></i> Destroy
      <% end %>
    </td>
  </tr>
  <% counter += 1 %>
<% end %>
