<h1>Listing departments</h1>

<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Dept name</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% counter = 1 %>
    <% @departments.each do |department| %>
      <tr>
        <td><%= counter %></td>
        <td><%= department.dept_name %></td>
        <td><%= department.location %></td>
        <td><%= link_to 'Show', department %></td>
        <td><%= link_to 'Edit', edit_department_path(department) %></td>
        <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% counter += 1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department', new_department_path %>
