<% provide(:title, "Departments") %>

<h4>Listing Departments</h4>
<%# Pagination: see https://github.com/bootstrap-ruby/will_paginate-bootstrap %>
<%= page_entries_info @departments %><br />
<%= will_paginate @departments, renderer: BootstrapPagination::Rails %>

<% partial_name = "departments" %>
<% partial_name = "uneditable" unless policy(@departments).edit? %>
<%# The caching is disabled as the inappropriate authorization will be cached. %>
<%# cache cache_key_for_departments(partial_name, @departments.offset) do %>
<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>No.</th>
    <th>Dept name</th>
    <th>Location</th>
    <th>Address Count</th>
    <th>VLAN List</th>
  </tr>
  </thead>
  <tbody id="main-table-body">
    <%= render partial: partial_name,
               object:  @departments,
               locals:  {offset: @departments.offset} %>
  </tbody>
</table>

<%# Footer Pagination %>
<%= page_entries_info @departments %><br />
<%= will_paginate @departments, renderer: BootstrapPagination::Rails %>

<% if policy(@departments).create? %>
  <%= link_to new_department_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Department
  <% end %>
<% end %>

<div><svg id="department-stats" width="1600" height="600"></svg></div>

<script type="text/javascript">
  $(document).ready(function() {
    showDepartmentStats(gon.locale);
  });
</script>


