<% provide(:title, "Show Department") %>

<div class="row">
  <div class="col-xs-4">
    <strong>Dept name: </strong><%= @department.dept_name %>
  </div>
  <div class="col-xs-4">
    <strong>Location: </strong> <%= @department.location %>
  </div>
  <div class="col-xs-4">
    <%= link_to 'Edit This Department', edit_department_path(@department) %> |
    <%= link_to 'Back to Departments', departments_path %>
  </div>
</div>

<div class="row"><%= render template: 'users/index' %></div>
