<% if false %>
  Note: This partial is called by both the LansController#show view and
  the AddressesController#index view.

  Index display:
  See http://stackoverflow.com/questions/4566620/getting-the-current-item-number-or-index-when-using-will-paginate-in-rails-app
  See also https://hackhands.com/pagination-rails-will_paginate-gem/
  Record index: @addresses.total_entries, @addresses.offset

  Fragment-caches the whole table. To make the cache key unique, it is based on
  the calling template, the pagination offset (addresses.offset) and the max
   updated_at attribute. See the implementation of the cache keys.
<% end %>

<% count = addresses.offset %>
<%# The whole table caching is disabled as the authorization will be cached,
  too, which is not appropriate. %>
<%# cache_unless @searched, cache_key_for_addresses(caller_name, count) do %>
<table class="table table-striped table-condensed">
<thead>
<tr>
  <th>No.</th>
  <th>IP Address</th>
  <th>MAC Address</th>
  <th>Usage</th>
  <th>User Name</th>
  <th>Dept Name</th>
  <th>Title</th>
  <th>Office Phone</th>
  <th>Cell Phone</th>
  <th>Building</th>
  <th>Storey</th>
  <th>Room</th>
  <th>Start Date</th>
  <th>End Date</th>
  <th>Assigner</th>
  <th>Recyclable</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
</thead>

<% if false %>
  To let a partial to access the controller's instance variables is usually
  discouraged. See http://stackoverflow.com/questions/2503838/rails-should-partials-be-aware-of-instance-variables/26651056#26651056
  But to make this partial DRY, helper methods are called and instance variables
  are used. Or the table header has to be duplicated in the calling templates
  (vlans/show & addresses/index).
<% end %>

<tbody id="main-table-body">
<% addresses.each do |address| %>
<% find_user(address.user_id) %>
<% find_department(@user.department_id) %>
<% count += 1 %>

<tr id="row-<%= count %>">
  <% cache([address, @user, @department], skip_digest: true) do %>
  <td id="no"><%= count %></td>
  <td id="ip-address">
    <% clr = "green" %>
    <% clr = "red" if @user.name == "NOBODY" %>
    <font color="<%= clr %>"><%= address.ip %></font>
  </td>
  <td id="mac-address">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= address.id %>"
        data-model="address"
        data-name="mac_address"
        data-url="<%= address_path(address) %>"
        data-title="MAC Address">
      <%= address.mac_address %>
    </a>
  </td>
  <td id="usage">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= address.id %>"
        data-model="address"
        data-name="usage"
        data-url="<%= address_path(address) %>"
        data-title="Usage">
      <%= address.usage %>
    </a>
  </td>
  <td id="user-name">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= address.id %>"
        data-model="address"
        data-name="user_id"
        data-url="<%= address_path(address) %>"
        data-title="User Name">
      <%= @user.name %>
    </a>
  </td>

  <%# Disabled due to its extreme inefficiency! %>
  <%# cache cache_key_for_user(address, @user) do %>
  <td id="department-name">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= @user.id %>"
        data-model="user"
        data-name="department_id"
        data-url="<%= user_path(@user) %>"
        data-title="Dept Name">
      <%= @department.dept_name %>
    </a>
  </td>
  <td id="user-title">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= @user.id %>"
        data-model="user"
        data-name="title"
        data-url="<%= user_path(@user) %>"
        data-title="Title">
      <%= @user.title %>
    </a>
  </td>
  <td id="office-phone">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= @user.id %>"
        data-model="user"
        data-name="office_phone"
        data-url="<%= user_path(@user) %>"
        data-title="Office Phone">
      <%= @user.office_phone %>
    </a>
  </td>
  <td id="cell-phone">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= @user.id %>"
        data-model="user"
        data-name="cell_phone"
        data-url="<%= user_path(@user) %>"
        data-title="Cell Phone">
      <%= @user.cell_phone %>
    </a>
  </td>
  <td id="building">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= @user.id %>"
        data-model="user"
        data-name="building"
        data-url="<%= user_path(@user) %>"
        data-title="Building">
      <%= @user.building %>
    </a>
  </td>
  <td id="storey">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= @user.id %>"
        data-model="user"
        data-name="storey"
        data-url="<%= user_path(@user) %>"
        data-title="Storey">
      <%= @user.storey %>
    </a>
  </td>
  <td id="room">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= @user.id %>"
        data-model="user"
        data-name="room"
        data-url="<%= user_path(@user) %>"
        data-title="Room Number">
      <%= @user.room %>
    </a>
  </td>
  <%# end %><%# This caching is abandoned due to its extreme inefficiency! %>

  <td id="start-date">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= address.id %>"
        data-model="address"
        data-name="start_date"
        data-url="<%= address_path(address) %>"
        data-title="Start Date">
      <%= address.start_date %>
    </a>
  </td>
  <td id="end-date">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= address.id %>"
        data-model="address"
        data-name="end_date"
        data-url="<%= address_path(address) %>"
        data-title="End Date">
      <%= address.end_date %>
    </a>
  </td>
  <td id="assigner">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= address.id %>"
        data-model="address"
        data-name="assigner"
        data-url="<%= address_path(address) %>"
        data-title="Assigner">
      <%= address.assigner %>
    </a>
  </td>

  <td id="recyclable">
    <a href="#"
        data-xeditable="true"
        data-pk="<%= address.id %>"
        data-model="address"
        data-name="recyclable"
        data-url="<%= address_path(address) %>"
        data-title="Select options"
        data-type="checklist">
      <%= address.recyclable %>
    </a>
  </td>
  <% end %><%# partial row caching %>

  <%# Authorization should NOT be cached!!! %>
  <% if policy(address).show? %>
    <td><%= link_to 'Show', address, class: 'btn btn-primary btn-xs' %></td>
  <% end %>
  <td id="recycle">
    <% if policy(address).recycle? %>
      <%= button_to histories_path(address_id: address.id),
          remote: true, method: :post, id: :btn_recycle,
          class: 'btn btn-success btn-xs',
          data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-recycle"></i> Recycle
      <% end %>
    <% end %> 
  </td>
</tr>
<% end %><%# row iteration %>
</tbody>
</table>
