<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>No.</th>
    <th>IP Address</th>
    <th>MAC Address</th>
    <th>Usage</th>
      <th>User Name</th>
      <th>Dept Name</th>
      <th>Office Phone</th>
      <th>Cell Phone</th>
      <th>Building</th>
      <th>Locaiton</th>
      <th>Storey</th>
      <th>Room</th>
    <th>Application Form</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% count = 1 %>
  <% @addresses.each do |address_obj| %>
    <% address = address_obj.clone %><!-- To be nullified to free mem -->
    <% find_user(address.user_id) %>
    <tr>
      <td><%= count %></td>
      <td>
        <% clr = "green" %>
        <% clr = "red" if @user.name == "NOBODY" %>
        <font color="<%= clr %>"><%= address.ip %></font>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= address.id %>" data-model="address" data-name="mac_address" data-url="<%= address_path(address) %>" data-title="MAC Address"><%= address.mac_address %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= address.id %>" data-model="address" data-name="usage" data-url="<%= address_path(address) %>" data-title="Usage"><%= address.usage %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= address.user_id %>" data-model="address" data-name="user_id" data-url="<%= address_path(address) %>" data-title="User Name"><%= @user.name %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= @user.id %>" data-model="user" data-name="department_id" data-url="<%= user_path(@user) %>" data-title="Dept Name"><%= @department.dept_name %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= address.user_id %>" data-model="user" data-name="office_phone" data-url="<%= user_path(@user) %>" data-title="Office Phone"><%= @user.office_phone %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= address.user_id %>" data-model="user" data-name="cell_phone" data-url="<%= user_path(@user) %>" data-title="Cell Phone"><%= @user.cell_phone %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= address.user_id %>" data-model="user" data-name="building" data-url="<%= user_path(@user) %>" data-title="Building"><%= @user.building %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= @user.department_id %>" data-model="department" data-name="location" data-url="<%= department_path(@department) %>" data-title="Location"><%= @department.location %></a>
</td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= address.user_id %>" data-model="user" data-name="storey" data-url="<%= user_path(@user) %>" data-title="Storey"><%= @user.storey %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= address.user_id %>" data-model="user" data-name="room" data-url="<%= user_path(@user) %>" data-title="Room Number"><%= @user.room %></a>
      </td>
      <td><%= address.application_form %></td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= address.id %>" data-model="address" data-name="start_date" data-url="<%= address_path(address) %>" data-title="Start Date"><%= address.start_date%></a>
      </td>
      <td><%= address.end_date %></td>
      <td><%= link_to 'Show', address, class: 'btn btn-primary btn-xs' %></td>
      <td>
        <%= link_to edit_address_path(address), class: 'btn btn-info btn-xs' do %>
            <i class="glyphicon glyphicon-edit"></i> Edit
        <% end %>
      </td>
      <td>
        <% if policy(address).destroy? %>
          <%= link_to address, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
            <i class="glyphicon glyphicon-remove"></i> Destroy
          <% end %>
        <% end %>
      </td>
    </tr>
    <% count += 1 %>
    <% address = nil %>
    <% GC.start %>
  <% end %>
  </tbody>
</table>

<br>

<div>
  <%= link_to welcome_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-home"></i> Home 
  <% end %>
  | <%= link_to new_address_path, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus"></i> New Address
    <% end %>	  
</div>
