<% provide(:title, "Addresses") %>

<div class="row">
  <div class="col-xs-8">
    <h4>Listing IP Addresses</h4>
    <%# https://github.com/bootstrap-ruby/will_paginate-bootstrap %>
    <%= page_entries_info @addresses %><br />
    <%= will_paginate @addresses, renderer: BootstrapPagination::Rails %>
  </div>

  <div class="col-xs-4">
    <div class="col-xs-8 .text-right">
      <%= form_tag addresses_path, :method => :get do %>
        <%= text_field_tag :keywords, params[:keywords] %>
        <%#= search_field_tag :keywords, params[:keywords] %>
        <div>
          <%= radio_button_tag :option, 'All', true,
                               controller_action: params[:option] %>All
          <%= radio_button_tag :option, 'Assigned',
                               params[:option] == "Assigned" ? true : false,
                               controller_action: params[:option] %>Assigned
          <%= radio_button_tag :option, 'Free',
                               params[:option] == "Free" ? true : false,
                               controller_action: params[:option] %>Free
        </div>
      </div>
      <div class="col-xs-4 .text-left">
        <%= submit_tag "Local Search", :name => nil %><br />
      </div>
    <% end %>
  </div>
</div>

<% if false %>
  Address list rows. The current SystemUser comes from
  ApplicationController.pundit_user.
<% end %>
<div class="row">
  <% partial_name = "addresses" %>
  <% partial_name = "uneditable" unless policy(@addresses).edit? %>
  <%= render partial: partial_name,
             object: @addresses,
             locals: {caller_name: "all"} %>

  <%# The footer pagination %>
  <%= page_entries_info @addresses %><br />
  <%= will_paginate @addresses, renderer: BootstrapPagination::Rails %>
</div>

<div>
  <%= link_to welcome_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-home"></i> Home 
  <% end %>
</div>
