<%= form_for(@lan) do |f| %>
  <% if @lan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lan.errors.count, "error") %> prohibited this lan from being saved:</h2>

      <ul>
      <% @lan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Create a new LAN -->
  <div class="field">
    <%= f.label :lan_number %><br>
    <%= f.number_field :lan_number %>
  </div>
  <div class="field">
    <%= f.label :lan_name %><br>
    <%= f.text_field :lan_name %>
  </div>
  <div class="field">
    <%= f.label :lan_description %><br>
    <%= f.text_area :lan_description, rows: 6 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
