<h3>Listing LANs</h3>
<%# Pagination: see https://github.com/bootstrap-ruby/will_paginate-bootstrap %>
<%= page_entries_info @lans %><br />
<%= will_paginate @lans, renderer: BootstrapPagination::Rails %>

<% partial_name = "editable" %>
<% partial_name = "uneditable" unless policy(@lans).edit? %>
<% cache cache_key_for_lans(partial_name, @lans.offset) do %><%# table caching %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>LAN Number</th>
    <th>LAN Name</th>
    <th>LAN Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody id="main-table-body">
    <%= render partial: partial_name, collection: @lans %>
  </tbody>
</table>
<% end %>

<div>
  <%= link_to welcome_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-home"></i> Home
  <% end %>
  <% if policy(:lan).new? %>
    |<%= link_to new_lan_path, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus"></i> New LAN
    <% end %>
  <% end %>
</div>

