<h3>Listing LANs</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th>LAN Number</th>
    <th>LAN Name</th>
    <th>LAN Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @lans.each do |lan| %>
    <tr>
      <td><%= lan.lan_number %></td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= lan.id %>" data-model="lan" data-name="lan_name" data-url="<%= lan_path(lan) %>" data-title="LAN Name"><%= lan.lan_name %></a>
      </td>
      <td>
        <a href="#" data-xeditable="true" data-pk="<%= lan.id %>" data-model="lan" data-name="lan_description" data-url="<%= lan_path(lan) %>" data-title="LAN Description"><%= lan.lan_description %></a>
      </td>
      <td>
        <% if policy(lan).show? %>
          <%= link_to 'Show', lan, class: 'btn btn-primary btn-xs' %>
        <% end %>
      </td>
      <td>
        <% if policy(lan).edit? %>
          <%= link_to edit_lan_path(lan), class: 'btn btn-info btn-xs' do %>
            <i class="glyphicon glyphicon-edit"></i> Edit
          <% end %>
        <% end %>
      </td>
      <td>
        <% if policy(lan).destroy? %>
          <%= link_to lan, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
            <i class="glyphicon glyphicon-remove"></i> Destroy
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<div>
  <%= link_to welcome_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-home"></i> Home
  <% end %>
  <% if policy(:lan).new? %>
    |<%= link_to new_lan_path, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus"></i> New LAN
    <% end %>
  <% end %>
</div>

