<h1>Listing LANs</h1>

<table class="table table-condensed">
  <thead>
  <tr>
    <th>LAN Number</th>
    <th>LAN Name</th>
    <th>LAN Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @lans.each do |lan| %>
    <tr>
      <td><%= lan.lan_number %></td>
      <td><%= lan.lan_name %></td>
      <td><%= lan.lan_description %></td>
      <td><%= link_to 'Show', lan, class: 'btn btn-primary btn-xs' %></td>
      <td>
        <%= link_to edit_lan_path(lan), class: 'btn btn-info btn-xs' do %>
          <i class="glyphicon glyphicon-edit"></i> Edit
        <% end %>
      </td>
      <td>
        <%= link_to lan, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
          <i class="glyphicon glyphicon-remove"></i> Destroy
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<div>
  <%= link_to welcome_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-home"></i> Home
  <% end %>
  | <%= link_to new_lan_path, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus"></i> New LAN
    <% end %>
</div>

