<p id="notice"><%= notice %></p>

<p>
  <strong>Lan number:</strong>
  <%= @lan.lan_number %>
</p>

<p>
  <strong>Lan name:</strong>
  <%= @lan.lan_name %>
</p>

<p>
  <strong>Lan description:</strong>
  <%= @lan.lan_description %>
</p>

<!-- Show the existing VLANs in a table -->
<h3>Existing VLANs:</h3>
<table>
  <tr>
    <th>No.</th>
    <th>VLAN Number</th>
    <th>VLAN Name</th>
    <th>Static IP Start</th>
    <th>Static IP End</th>
    <th>Subnet Mask</th>
    <th>Gateway</th>
    <th>Description</th>
  </tr>
  <% i = 1 %>
  <%= @lan.vlans.each do |vlan| %>
  <tr>
    <td><%= i %></td>
    <td><%= vlan.vlan_number %></td>
    <td><%= vlan.vlan_name %></td>
    <td><%= vlan.static_ip_start %></td>
    <td><%= vlan.static_ip_end %></td>
    <td><%= vlan.subnet_mask %></td>
    <td><%= vlan.gateway %></td>
    <td><%= vlan.vlan_description %></td>  
    <% i = i+1 %>
  <% end %>
  </tr>
</table>

<!-- Create a VLAN -->
<h3>Create a new VLAN:</h3>
<%= form_for([@lan, @lan.vlans.build]) do |f| %>
  <p><%= f.label :"Number:" %><%= f.text_field :vlan_number %></p>
  <p><%= f.label :"Name:" %><%= f.text_field :vlan_name %></p>
  <p><%= f.label :"Static IP Start:" %><%= f.text_field :static_ip_start %></p>
  <p><%= f.label :"Static IP End:" %><%= f.text_field :static_ip_end %></p>
  <p><%= f.label :"Mask:" %><%= f.text_field :subnet_mask %></p>
  <p><%= f.label :"Gateway:" %><%= f.text_field :gateway %></p>
  <p><%= f.label :"Description:" %><%= f.text_area :vlan_description, rows: 6 %></p>  
  <p><%= f.submit %></p>
<% end %>

<%= link_to 'Edit', edit_lan_path(@lan) %> |
  <%= link_to 'Back', lans_path %>
