<p id="notice"><%= notice %></p>

<p>
  <strong>Lan number:</strong>
  <%= @lan.lan_number %>
</p>

<p>
  <strong>Lan name:</strong>
  <%= @lan.lan_name %>
</p>

<p>
  <strong>Lan description:</strong>
  <%= @lan.lan_description %>
</p>

<%= link_to 'Edit', edit_lan_path(@lan) %> |
<%= link_to 'Back', lans_path %>
