<h1>VlansPerspective#index</h1>
<p>Find me in app/views/vlans_perspective/index.html.erb</p>

<h3>Existing LANs & its VLANs</h3>
<% @lans.each do |lan| %>
<div class="entry">
  <p><b style="color:red;"><%= lan.lan_name %></b>: <%= lan.lan_description %></p>
  <!-- VLAN list -->
  <table>
    <thead>
    <tr>
      <th>No.</th>
      <th>VLAN Number</th>
      <th>VLAN Name</th>
      <th>Static IP Start</th>
      <th>Static IP End</th>
      <th>Subnet Mask</th>
      <th>Gateway</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <!-- render partial: "vlans/vlan", collection: @lan.vlans -->
    <tbody>
      <%= render lan.vlans %>
    </tbody>
  </table>
</div>
<% end %>

<div>
  <h3>Other Operations:</h3>
  <ul>
    <!-- Create a new VLAN in the LANs perspective -->
    <li>Create a new VLAN from the LANs perspective (link show ): <%= link_to "LANs", lans_path %></li>
  </ul>
</div>

<div>
  <h3>TODOs</h3>
  <ol>
    <li>List the VLANs in any order required</li>
    <li>List the IP addresses within a designated VLAN in ascending order (IPv4 at present)</li>
    <li>Import/export from/to CSV files.</li>
  </ol>
</div>

<div>
  <p><%= link_to 'Home', controller: "welcome" %> | <%= link_to 'LANs', lans_path %></p>
</div>
