<!DOCTYPE html>
<html>
<head>
  <title>IPAMS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("rails_small.png") %>
    <%= @page_title || "IP Address Management System (IPAMS) 14.11.0" %> 
  </div>

  <div id="columns">
    <div id="side">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/lans">LANs</a></li>
        <li><a href="/vlans">VLANs</a></li>
        <li><a href="/departments">Departments</a></li>
        <li><a href="/reserved_addresses">Reserved</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/help">Help</a></li>
        <i><a href="/GNU_public_license">License</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
